.settings-position
  .settings-wrapper
    .settings-title Положение
    .settings-position-block
      .settings-position-block__left
        .settings-position-map
          .settings-position-map-pattern
            span.settings-position-map-pattern-horizontal
            span.settings-position-map-pattern-vertical
          ul.settings-position-map-list
            - for (var i = 0; i < 9; i++)
              if i !== 0
                li.settings-position-map-list__item
                  input( id='input-map#{i}' type = "radio" name = 'mark-position').input-hide
                  label(for='input-map#{i}').settings-position-map__label
              else
                li.settings-position-map-list__item
                  input( id='input-map#{i}' type = "radio" checked="checked" name = 'mark-position').input-hide
                  label(for='input-map#{i}').settings-position-map__label
      .settings-position-block__right
        .settings-position-control
          ul.settings-position-control-list
            - var positions = [ 'X', 'Y']
            each item in positions
              li.settings-position-control-list__item
                div(class='position-control-#{item}')
                  .position-control-title= item
                  input(type = "text" id='position-control-#{item}' maxlength='3'
                  value='0').position-control-value
                  .position-control-trigger
                    .trigger.trigger__up
                    .trigger.trigger__down
      .settings-position-extra
        ul.settings-position-extra-list
          - var extras = [ 'pattern', 'one' ]
          each item in extras
            if item !== 'pattern'
              li.settings-position-extra-list__item
                div(class='extra-icon-#{item}').extra-icon
            else
              li.settings-position-extra-list__item
                div(class='extra-icon-#{item} extra-icon-#{item}__active').extra-icon



