.settings-position
  .settings-wrapper
    .settings-title Положение
    .settings-position-block
      .settings-position-block__left
        .settings-position-map
          ul.settings-position-map-pattern-list
              li.settings-position-map-pattern-item
                span.settings-position-map-pattern-horizontal
              li.settings-position-map-pattern-item
                span.settings-position-map-pattern-vertical
          ul.settings-position-map-one-list
            - for (var i = 0; i < 9; i++)
              if i !== 0
                li.settings-position-map-list__item
                  input( id='input-map#{i}' type = "radio" name = 'mark-position').input-hide
                  label(for='input-map#{i}').settings-position-map__label
              else
                li.settings-position-map-list__item
                  input( id='input-map#{i}' type = "radio" checked="checked" name = 'mark-position').input-hide
                  label(for='input-map#{i}').settings-position-map__label
      .settings-position-block__right
        .settings-position-control.mode-one
          ul.settings-position-control-list
            - var positions = [ 'X', 'Y']
            each item in positions
              li.settings-position-control-list__item
                div(class='position-control-#{item}')
                  label.position-control-title= item
                  input(type = "text" id='position-control-#{item}' name="value" maxlength='3'
                  value='0').position-control-value

      .settings-position-extra
        ul.settings-position-extra-list
          - var extras = [ 'one', 'pattern' ]
          each item in extras
            if item !== 'one'
              li.settings-position-extra-list__item
                div(class='extra-icon-#{item}').extra-icon
            else
              li(class='extra-item__active').settings-position-extra-list__item
                div(class='extra-icon-#{item}').extra-icon



